// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.content{
    margin: 0 33%;
    display: inline;
}
.row{
    margin: 0 15%;
}
body{
    background-color: rgb(237, 222, 203);
}


